.toast {
    right: 0;
    left: unset !important;
    pointer-events: none;
}

.list-row {
    transition: .5s;
}

.dropdown-menu-button {
    transition: .5s;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.save-list-row-changes {
    color: var(--light);
}
.save-list-row-changes:hover {
    color: var(--success);
}
.del-list-row-changes {
    color: var(--light);
}
.del-list-row-changes:hover {
    color: var(--danger);
}

.nav-link-font {
    font-size: 16px !important;
}